src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
          http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>Mule demo application illustrates file based routing functionality</description>

    <context:property-placeholder location="mule.properties"/>

    <spring:beans/>

    <file:connector name="inputFiles" autoDelete="true" fileAge="500" pollingFrequency="1500"/>
    <file:connector name="outputFiles" outputAppend="false"/>
    <file:file-to-string-transformer name="file2String"/>

    <tracking:custom-event-template name="transactionDetails">
        <tracking:meta-data key="Processing Id (PID)" value="PID-#[xpath://msg/header/tran_id]" />
        <tracking:meta-data key="Destination" value="#[xpath://msg/header/destination]" />
    </tracking:custom-event-template>

    <flow name="inbound_ReceiveFiles">

       <file:inbound-endpoint connector-ref="inputFiles" path="${installDirectory}/inputFiles"
                              moveToDirectory="${installDirectory}/inputFileBackup"
                              moveToPattern="#[header:originalFilename].backup"
                              transformer-refs="file2String"/>

        <tracking:transaction id="PID-#[xpath://msg/header/tran_id]" doc:name="Register File Processing Id (PID)"/>
        <tracking:custom-event event-name="Bank ACH Code Details" inherits="transactionDetails"/>

        <choice>
            <when expression="//msg/header/destination='SanFrancisco'" evaluator="xpath">
                <file:outbound-endpoint connector-ref="outputFiles"
                                        path="${installDirectory}/outputFileSanFrancisco"
                                        outputPattern="#[function:datestamp]-#[header:originalFilename]"/>
            </when>
            <when expression="//msg/header/destination='BuenosAires'" evaluator="xpath">
                <file:outbound-endpoint connector-ref="outputFiles"
                                        path="${installDirectory}/outputFileBuenosAires"
                                        outputPattern="#[function:datestamp]-#[header:originalFilename]"/>
            </when>
            <when expression="//msg/header/destination='London'" evaluator="xpath">
                <file:outbound-endpoint connector-ref="outputFiles"
                                        path="${installDirectory}/outputFileLondon"
                                        outputPattern="#[function:datestamp]-#[header:originalFilename]"/>
            </when>
            <otherwise>
                <file:outbound-endpoint connector-ref="outputFiles"
                                        path="${installDirectory}/outputFileDefault"
                                        outputPattern="#[function:datestamp]-#[header:originalFilename]"/>

            </otherwise>
        </choice>
    </flow>
</mule>